/* General */
:root {
    --textcolor: #e8e8e8;
    --textgrey: #c4c4c4;
    --titlecolor: #ffffff;
    --background: #000613;
    --link: rgb(203, 203, 203);
    --linkHover: #B197FC;
    --violetLight: #c3b0fb;
    --gradient: radial-gradient(ellipse 180% 120% at bottom right, #6d19d8 0, var(--background) 60%);
    --small_gradient: radial-gradient(circle at right, #6d19d8 0, var(--background) 50%);
    --button: #8c10ff;
    --buttonHover: #6A1BBE;
    --warning: rgb(222, 63, 87);
    --input:#333;
    --darkgrey: #222222;
    --notice: rgb(167, 167, 167)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: var(--background);
    color: var(--textcolor);
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background: var(--gradient);
    line-height: 1.6;
    min-height: 100vh;
    transition: background-position 0.1s linear;
}


.title {
    color: var(--titlecolor);
}

h1, h2, h3, p {
    position: relative;
    z-index: 100;
}
h1 {
    font-size: 3rem;
    color: var(--titlecolor);
}

h2 {
    font-size: 1.7rem;
    margin: 1.6rem 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    color: var(--link);
    text-decoration: none;
    background: none;
    border: none;
}

a:hover {
    color: var(--linkHover);
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem 0.8rem;
}

.cta {
    background-color: var(--button);
    color: var(--textcolor);
    padding: 0.75rem 1.5rem;
    font-size: 1.875rem;
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.cta:hover {
    background-color: var(--buttonHover);
}

.rainbow {
    background-image: linear-gradient(to right, rgb(127, 113, 255), rgb(123, 0, 255), rgb(166, 0, 255), rgb(255, 0, 149), orange);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline;
    padding-right: 0.125rem;
}

.fade-in-section {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
.fade-in-section.visible {
    opacity: 1;
}




/* Header und Navigation */
header {
    background-color: var(--background);
    padding: 45px 0 0.6rem 0;
    height: 100px;
    animation: fadeinNav 1s;
    transition: padding-top 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: 1000;
    border-bottom: none;
    position: absolute;
    width: 100%;
}

@keyframes fadeinNav {
    0% {
     top: -1.5rem;
     opacity: 0;
    }
    100% {
     top: 0;
     opacity: 1;
    }
  }

header.navbar-on-scroll {
    padding-top: 15px;
    height: 70px;
    border-bottom: 1px solid #333333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 4rem;
}

nav h1 {
    font-size: 1.3rem;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burger {
    display: none;
}

/* Hauptinhalt */

.landingMain {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Für Firefox */
    -ms-overflow-style: none; /* Für Internet Explorer 10+ */
}
.landingMain::-webkit-scrollbar {
    display: none; /* Für Chrome, Safari und Opera */
}

section {
    display: flex;
    flex-direction: column;
}

.text-block {
    color: var(--textgrey);
    position: relative;
    overflow: hidden;
    top: 50%;
    transform: translate(0, calc(-50% + 30px)) /*test*/
}

.fadin-firstSection {
    animation: fadein-firstSection 1s;
}

.text-block h3 {
    color: var(--textcolor);
    margin-bottom: 5px;
}

@keyframes fadein-firstSection {
    0% {
        opacity: 0.2;
       }
       100% {
        opacity: 1;
    }
}

article {
    position: relative;
    padding: 0 8.5rem;
    line-height: 1.875rem;
    max-width: 80rem;
    left: 50%;
    transform: translate(-50%);
    height: 100vh;
    scroll-snap-align: center;
    transition: transform 0.8s ease-in-out;
}

article:first-child {
    padding-top: 12rem;
  }


.art-img-right, .art-img-left {
    width: 23rem;
    height: 23rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #745aba;
}
.art-img-right {
    margin-left: 40px;
    float: right;
}

.art-img-left {
    margin-right: 40px;
    float: left;
}

.values {
    position: relative;
}
.values-p {
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--textgrey);
}

.values-text {
    width: 50%;
    margin-right: 15%;
    float: left;
}

.values-logo {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values-logo i {
    font-size: 240px;
    margin-bottom: 40px;
    color: #8d5ce0;
    background: linear-gradient(to bottom, #2A213D, #3F3155); 
    box-shadow: 2px 2px 10px #4d3e63;
    border-radius: 70px;
    padding: 25px;
}

/* Seitenelemnt für PseudoScrollbar */
.scrollbar {
    z-index: 1000;
    color: grey;;
    position: absolute;
    width: 20px;
    top: 50%;
    right: 25px;
    transform: translate(0, -75px); /* vertikale Zentrierung */
    font-size: 2rem;
    animation: fadein-firstSection 1s;
}

/* Scrollbar-Elemente */
.scrollbar span {
    width: 100%;
    height: 4px;
    background: grey;
    border-radius: 5px;
    position: absolute;
    padding: 3px;
    cursor: pointer;
}

/* Positionierung der Scrollbar-Elemente */
.scrollbar span:nth-of-type(1) {
    top: 0px
}
.scrollbar span:nth-of-type(2) {
    top: 30px;
}
.scrollbar span:nth-of-type(3) {
    top: 60px;
}
.scrollbar span:nth-of-type(4) {
    top: 90px;
}
.scrollbar span:nth-of-type(5) {
    top: 120px;
}
.scrollbar span:nth-of-type(6) {
    top: 150px;
}

/* Scrollbar-Highlight */
#scrollbar-highlight {
    top: 0px;
    background-color: white;
    transition: bottom 0.05s;
}

/* Footer */
.footer {
    position: relative;
    color: var(--link);
    background-image: url("/img/landscape.jpg");
    background-position: top;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

.footer h3, .footer h2 {
    color: var(--textcolor);
}

#footer {
    padding-left: 0;
    padding-right: 0;
}

.footer-container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-section {
    width: 100%;
    flex: 1;
    min-width: 12.5rem;
    margin: 0.625rem;
}

.company-title {
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}
.company-title h2 {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section h3 {
    margin-bottom: 5px;
}








.menu-container {
    display: none;
}











.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }









  #network-container {
    filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 2000px;
    width: 100%;
}

.net-container {
    opacity: 0.01;
    transition: opacity 2s;
    position: relative;
    margin-top: 400px;
    width: 100%;
    z-index: 0;
}

.net-container.erscheinen {
    opacity: 0.4;
}

button {
    position: relative;
    z-index: 100;
}




.box {
    position: relative;
    
}


.input {
    width: 8ch;
    background: none;
    outline: none;
    border: 0px solid black;
    border-radius: 50px;
    transition: .5s;
    font-size: 1rem;
    height: 40px;
    color: var(--textcolor);
    padding: 6px 00px;
}
.input::placeholder {
    opacity: 1;
    color: var(--link);
    vertical-align: center;
}

.box:hover .input,
.box:focus-within .input {
    cursor: pointer;
    padding: 6px 20px;
    width: 300px;
    background: #3b3640;
    border-color: var(--darkgrey);
}

.btn-search {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 1rem;
    background-color: transparent;
    font: inherit;
    right: 0;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 10px;
    color: var(--link);
    background-color: var(--button);
    transition: opacity 0.5s, visibility 0s 0.5s; /* Die Verzögerung für visibility */
    border: none;
}

.box:hover .btn-search,
.box:focus-within .btn-search {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.profile-cta, .inbox-cta {
    visibility: hidden;
    color: orange;
    position: absolute;
    font-size: 0.5rem;
    margin-top: 18px;
    margin-left: -27px;
}

.profile-cta-active, .inbox-cta-active{
    visibility: visible;
}



/* Media Queries für mobile devices */
@media screen and (max-width: 768px) {

    header {
        padding-top: 1.875rem;
        height: 70px;
    }
    header.navbar-on-scroll {
        height: 50px;
        padding-top: 0.6rem;
        border-bottom: 1px solid #333333;
    }

    main {
        max-width: 100%;
    }

    article {
        padding: 0 5rem;
        line-height: 2.3rem;
    }

    html {
        font-size: 12px;
    }
    .navbar {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }


    .burger.dropdown-active, .menu-container.dropdown-active {
        display: block;
    }
    main.dropdown-active, .footer.dropdown-active {
        display: none;
    }

    .art-img-left, .art-img-right {
        height: 13rem;
        width: 13rem;
    }
    .art-img-right {
        margin-left: 15px;
    }
    
    .art-img-left {
        margin-right: 15px;
    }




    .menu-container {
        padding: 6rem 1rem 1.5rem;
    }

    .main-list li, .sub-list li {
        margin: 0 0 0.5rem 0;
        border-radius: 4px;
        background-color: var(--darkgrey);
    }

    .menu-container h4 {
        color: var(--link);
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }

    .sub-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0rem 0.5rem; /* Abstand zwischen den Elementen */
    }
    
    .sub-list li {
        flex: 1 1 calc(50% - 1rem); /* Zwei Elemente nebeneinander */
        box-sizing: border-box;
    }

    .burger {
        width: 20px;
        height: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }
    
    .burger span {
        width: 100%;
        height: 3px;
        background: var(--link);
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        position: absolute;
    }
    
    .burger span:first-child {
        top: 0;
    }
    
    .burger span:last-child {
        bottom: 0;
    }
    
    .burger.dropdown-active span:first-child {
        transform: translateY(5px) rotate(45deg);
    }
    
    .burger.burger.dropdown-active span:last-child {
        transform: translateY(-5px) rotate(-45deg);
    }

    .scrollbar {
        display: none;
    }

    #network-container {
        height: 1700px;
    }

    .values {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .values-p {
        display: none;
    }

    .values-logo i {
        font-size: 100px;
        padding: 10px;
        border-radius: 20px;
    }

    .values-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
    }

    .footer-section {
        margin-top: 40px;
    }
      
}





