@import "tailwindcss";

:root {
    --text: #1e90ff;
    --color-secondary: #ff6f61;
    --background: #a82626;
    --color-text: #333333;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;

    font-family: "Arima Madurai";
}

.no-scrollbar {
    overflow: auto; /* Ermöglicht das Scrollen */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Entfernt die Scrollbar in Webkit-Browsern */
}

.no-scrollbar {
    -ms-overflow-style: none; /* Für IE und Edge */
    scrollbar-width: none; /* Für Firefox */
}