:root {
    --text: #1e90ff;
    --color-secondary: #ff6f61;
    --background: #a82626;
    --color-text: #333333;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;
}
